<h1><%= @keymap.label %></h1>
<p>NViM Keymap: <%= @keymap.keys %></p>
<p>Mode: <%= @keymap.mode.name %></p>
<p>How much typing: <%= @keymap.keymap_len %></p>
<p>Mode specific: <%= @keymap.specific %></p>

