<!DOCTYPE html>
<html>
  <head>
    <title>Custom Keymaps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <!-- Other navigation links -->
      <%= link_to "Modes", modes_path %>
      <%= link_to "Keymaps", keymaps_path %>
    </nav>
    <%= yield %>
  </body>
</html>
